@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-info">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 password-text" asp-for="NewPassword"></label>
                        <div class="visible-xs form-title-rquired"><nop-required /></div>
                        <div class="col-sm-5 col-md-3 col-xs-12">
                            <input class="form-control" asp-for="NewPassword" />
                        </div>
                        <div class="col-sm-3 col-md-4 col-xs-12">
                            <span asp-validation-for="NewPassword"></span>
                            <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 password-text" asp-for="ConfirmNewPassword"></label>
                        <div class="visible-xs form-title-rquired"><nop-required /></div>
                        <div class="col-sm-5 col-md-3 col-xs-12">
                            <input class="form-control" asp-for="ConfirmNewPassword" />
                        </div>
                        <div class="col-sm-3 col-md-4 col-xs-12">
                            <span asp-validation-for="ConfirmNewPassword"></span>
                            <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-md-offset-3 col-md-2">
                            <input type="submit" name="set-password" class="btn btn-primary button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
